@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  border: none;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App > main {
  flex: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
  background-color: #003b44;
  margin-bottom: 32px;
}

.navbar .navbar-actions {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar .navbar-actions .search-bar {
  display: flex;
  border: 1px solid #ffffff80;
  border-radius: 4px;
  padding: 10px 8px;
  /* width: 300px; */
  min-width: 300px;
}

.navbar .navbar-actions .search-bar input {
  padding: 0px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: transparent;
  color: #ffffffcc;
}

.navbar .navbar-actions .search-bar input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffffcc;
}
.navbar .navbar-actions .search-bar input:focus {
  outline: none;
}

.navbar .navbar-actions button {
  background: #ffffff;
  border-radius: 4px;
  border: none;
  color: #003b44;
  padding: 11.5px 32px;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
}

/* Gist List */
.gist-list-wrapper .gist-list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.gist-list-wrapper .gist-list-header h2 {
  font-weight: 400;
  font-size: 25px;
}

.gist-list-wrapper .gist-list-header .gist-list-header-actions {
  display: flex;
}

.gist-list-wrapper .gist-list-header .gist-list-header-actions .gist-list-header-action {
  padding: 8px 12px;
  /* background-color: #e3e3e3; */
  background-color: transparent;
  border: 1px solid #e3e3e3;
  display: flex;
}

.gist-list-wrapper
  .gist-list-header
  .gist-list-header-actions
  .gist-list-header-action:nth-child(1) {
  border-radius: 4px 0 0 4px;
}

.gist-list-wrapper
  .gist-list-header
  .gist-list-header-actions
  .gist-list-header-action:nth-child(2) {
  border-radius: 0 4px 4px 0;
}

/* Gist Table Styles */
.gist-table-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
  overflow: hidden;
}

.gist-table {
  width: 100%;
  border-collapse: collapse;
}

.gist-table-header {
  background-color: #efefef;
}

.gist-table-header .gist-table-row .gist-table-cell {
  font-weight: 700;
  padding: 16px;
}

.gist-table-row {
  display: grid;
  grid-template-columns: 200px 300px 200px 250px 234px;
  border-bottom: 1px solid #e3e3e3;
}

.gist-table-header .gist-table-row {
  font-weight: 500;
}

.gist-table-cell {
  padding: 24px 16px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 400;
}

.gist-table-body .gist-table-row:hover {
  background-color: #f6f8fa;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.keyword-badge {
  background-color: #003b44;
  color: white;
  padding: 4px 16px;
  border-radius: 50px;
  font-size: 11px;
  font-weight: 700;
  line-height: 20px;
}

.gist-table-cell.actions {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.action-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-button:hover {
  color: #0366d6;
}

/* Pagination Styles */
.gist-table-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 20px;
  background-color: #efefef;
  border-top: 1px solid #e1e4e8;
  gap: 8px;
}

.pagination-info {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #586069;
  font-size: 14px;
}

.pagination-info span {
  font-weight: 400;
  font-size: 14px;
  color: #3d3d3d;
}

.page-input {
  width: 40px;
  height: 36px;
  text-align: center;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  background: transparent;
  margin-right: 8px;
}

.pagination-arrow {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* GistCard Styles */
.gist-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 24px;
}

.gist-card {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  border: 1px solid #efefef;
  border-radius: 4px;
  background-color: white;
  position: relative;
}

.gist-card-content,
.gist-card-footer {
  padding: 8px;
}

.gist-card-content {
  background-color: #fafafa;
  overflow: hidden;
  flex-grow: 1;
  max-height: 182px;
}

.gist-card-code {
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  color: #24292e;
  overflow: auto;
}

.card-pagination {
  margin-top: 24px;
  background-color: transparent;
  border: none;
}

.gist-card-user {
  display: flex;
  gap: 8px;
}

.gist-card-user .avatar {
  min-width: 40px;
  height: 40px;
}

.gist-card-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;
  flex-grow: 1;
}

.gist-card-title {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gist-card-author {
  font-weight: 500;
  color: #24292e;
}

.gist-card-name {
  font-weight: 600;
  color: #003b44;
}

.gist-card-timestamp,
.gist-card-description {
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #7a7a7a;
}

.gist-card-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gist-card-actions {
  display: none;
}

.gist-card:hover .gist-card-actions {
  display: flex;
}

.gist-card-actions .action-button {
  padding: 8px;
}

.gist-card .gist-card-view-file {
  background-color: #003b44;
  width: fit-content;
  padding: 8px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 4px 0 0px;
  display: none;
}

.gist-card:hover .gist-card-view-file {
  display: block;
}

.gist-card .gist-card-view-file p {
  font-size: 11px;
  line-height: 15px;
  font-weight: 400;
  color: #ffffff;
}

.gist-card .gist-card-view-file p strong {
  font-weight: 700;
}
